[Unit]
Description=obigo_parent
After=homehmi.service appeventmanager.service ccos-session-bus.service obigo_child.service

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=WAYLAND_DISPLAY=wayland-0
WorkingDirectory=/ccos/apps/hmi/obigo_parent
ExecStart=/ccos/apps/hmi/obigo_parent/obigo_parent
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
